/* Font Import from Google Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Montserrat", sans-serif;
}


/* ------------------------------ */
/* Styles for frequently uses */

.color-light-gray {
    color: #474747;
}
.color-dark-blue {
    color:#0B0D17;
}
.color-orange-gradient {
    color: transparent;
    background: linear-gradient(90deg, rgba(255,30,30,1) 0%, rgba(251,162,79,1) 100%);
    -webkit-background-clip: text;
}
.bg-linear {
    background: linear-gradient(90deg, rgba(255,30,30,1) 0%, rgba(251,162,79,1) 100%);
}
.bg-dark {
    background-color: #0B0D17;
}
.para {
    font-size: 20px;
    font-weight: 400;
    color: #252525;
}
.main-heading {
    font-size: 50px;
}
.sub-heading {
    font-size: 35px;
}
.max-width {
    max-width: 80%;
    margin: 0 auto;
}
.btn {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    outline: 0;
    border: 0;
    padding: 15px 25px;
    border-radius: 50px;
    cursor: pointer;
}
.margin-bottom {
    margin-bottom: 20px;
}
.section-break {
    margin-bottom: 60px;
}
.text-center {
    text-align: center;
}

/* Banner Section Style */
.banner {
    width: 100%;
}
.banner-2 {
    background: #fc8f491a url("../images/shapes/Frame\ 58.jpg");
    background-size: cover;
}
.banner-container {
    padding: 50px 0;
    display: flex;
    gap: 50px;
    align-items: center;
}
.banner-container-2 {
    flex-direction: row-reverse;
    position: relative;
    padding: 100px 0;
}
.banner-part {
    flex: 1;
}
.part-right-2 img {
    max-height: 450px;
    position: absolute;
    bottom: 0;
    left: 15%;
}

/* Racipies Section */
.card-container {
    display: flex;
    gap: 30px;
}
.card {
    flex: 1;
    padding: 25px;
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}
.card img {
    width: 100%;
    border-radius: 10px;
}

/* Social Reach */
.social-reach-container {
    padding: 75px 0;
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}
.social-reach-container .reach-media .reach-title {
    font-size: 58px;
}